
__pycache__/main.cpython-312.pyc
.idea/workspace.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
input.txt
__pycache__/day5.cpython-312.pyc
__pycache__/day15.cpython-312.pyc
tests/__pycache__/test_day15.cpython-312.pyc
*.pyc
